# Server Port
PORT=5000

# Environment Mode (development | production)
NODE_ENV=development

# Local Development Database (Local MongoDB)
MONGO_URI=mongodb://localhost:27017/FinFlow

# Production Database (MongoDB Atlas) - used when NODE_ENV=production or on cloud deployment
MONGO_URI_PROD=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/FinanceFlow?retryWrites=true&w=majority

# JWT Signing Secret (Generate with: openssl rand -base64 32)
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
